@import "tailwindcss";

:root {
  --unnamed-color-ffffff: #ffffff;
  --unnamed-color-0ca85d: #0ca85d;
  --unnamed-color-2b87e3: #2b87e3;
  --unnamed-color-eba10f: #eba10f;
  --unnamed-color-9f43cc: #9f43cc;
  --unnamed-color-3e3e3e: #3e3e3e;

  --unnamed-font-family-poppins: Poppins;
  --unnamed-font-style-normal: normal;
  --unnamed-font-weight-normal: normal;
  --unnamed-font-weight-bold: bold;
  --unnamed-font-size-16: 16px;
  --unnamed-character-spacing-0: 0px;
  --unnamed-line-spacing-25: 25px;
}

body {
}

.subtitle1 {
  font-family: var(--unnamed-font-family-poppins);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-bold);
  font-size: var(--unnamed-font-size-16);
  line-height: var(--unnamed-line-spacing-25);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-3e3e3e);
}
.unnamed-character-style-2 {
  font-family: var(--unnamed-font-family-poppins);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-normal);
  font-size: var(--unnamed-font-size-16);
  line-height: var(--unnamed-line-spacing-25);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-3e3e3e);
}

.bg-primary {
  background-color: var(--unnamed-color-ffffff);
}
text-primary {
  color: var(--unnamed-color-3e3e3e);
}
.btn-green {
  background-color: var(--unnamed-color-0ca85d);
  color: var(--unnamed-color-ffffff);
}
.btn-blue {
  background-color: var(--unnamed-color-2b87e3);
  color: var(--unnamed-color-ffffff);
}
.btn-yellow {
  background-color: var(--unnamed-color-eba10f);
  color: var(--unnamed-color-ffffff);
}
.btn-purple {
  background-color: var(--unnamed-color-9f43cc);
  color: var(--unnamed-color-ffffff);
}
